                .container {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    border: solid 1px;
                    border-radius: 10px;
                    width: 100%;
                    padding: 0;
                }
                
                .cascader1 {
                    width: 250px;
                }
                
                .input {
                    width: 180px;
                    margin-left: 10%;
                    margin-right: 100px;
                }
                
                .inputraison {
                    width: 250px;
                    margin-left: 10%;
                }
                
                .radioet {
                    border: solid 1px;
                    border-color: rgba(107, 107, 243, 0.66);
                    padding: 5px;
                }
                
                .boutonet {
                    display: flex;
                    flex-direction: column;
                    align-items: center !important;
                }
                
                .bouton {
                    width: 500px !important;
                }
                /*.boutonvalid {
                    display: flex;
                    flex-direction: column;
                    align-items: center !important;
                    width: 500px !important;
                    margin-bottom: 5000px !important;
                }*/
                
                .inputannee {
                    width: 100px;
                    margin-right: 150px !important;
                }
                
                .mission {
                    width: 700px !important;
                }